Pre- Data Processing(RAG) pt 1.json
{
  "name": "Pre- Data Processing(RAG) pt 1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1fqcVdnJl6cn0drlatShbOdbFGLq1_mod",
          "mode": "list",
          "cachedResultName": "RAG Agent N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1fqcVdnJl6cn0drlatShbOdbFGLq1_mod"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        0
      ],
      "id": "7a76e92e-8cd2-4839-b8aa-ec22fca3d4e7",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "58NvMPAKOlOiTvIC",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1AgWn_ynYhqwUXW1bblsagnznk8RdbVaE",
          "mode": "list",
          "cachedResultName": "rag_memory_document.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1AgWn_ynYhqwUXW1bblsagnznk8RdbVaE/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        0
      ],
      "id": "b3ca7582-0365-4168-aed4-627a6c5c03c8",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "58NvMPAKOlOiTvIC",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ritesh-first-rag",
          "mode": "list",
          "cachedResultName": "ritesh-first-rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        64,
        0
      ],
      "id": "027b079f-88b1-444e-92fa-4e087f28d431",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "sxcpglOFM5uCJXg3",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        208
      ],
      "id": "3e477cd1-deff-4df7-87cf-457d0edbca11",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "K4S7OQjp2hV9sBAG",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name",
                "value": "={{ $('Download file').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        208,
        208
      ],
      "id": "a04e186f-32c8-4ade-afaf-ee0077a907ad",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        304,
        416
      ],
      "id": "f8a40df5-2b65-4838-b7f0-3774c6be7102",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "82e87cab-df64-4b1c-b3c7-fc1d2d59c951",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e76facfdc7a089f9c8ca2ee813c1dc6e63163657a40cae97ef972f33f8620139"
  },
  "id": "VJXNU3qyti7ElgCf",
  "tags": []
}